// body{
//     margin:0;
//     background-color:red;
//     color: white;
// }


@import"./Vars.scss"; //asi llamamos las variables para las fuentes y el color
@import "./Media.scss";//asi llamamos a Media query de este proyecto


body {
    
    font-family: $theme-font;
    background:$main-color;
  }

  *{
    box-sizing: border-box;

  }